<div class="container" ng-init="vis=false">
    <h1 id="title">
      Tractatus' Tree
    </h1>
    <div class="intro" ng-hide="vis">
      <p class="lead">
        This project is a personnal experimentation of how we can use a data-driven tools like <a href="https://github.com/mbostock/d3">D3.js</a> to discover a Philosophy piece like the Tractatus logico-philosophicus (<em>Logisch-Philosophische Abhandlung</em> in its original name).
      </p>
      <p class="lead">
        This book published in 1921 was written by Ludwig Wittgenstein. Its numbered propositions follows a tree structure,
        (<em>1</em>, then <em>1.1</em>, <em>1.2</em> etc.) which made me think we could easily visualize it. 
        Please note that this project is not an attempt to explain nor justify the book, I prefer to let you do that.<br/>
      </p>
      <p class="lead">
        Feel free to get the code and/or the crafted data on the <a href="https://github.com/pbellon/tractatus-tree/">github project page</a>. </br> 
      </p>

      <div class="text-center">
        <a class="btn btn-primary" ng-click="vis=true">Visualize the book</a>
      </div>
    </div>
    <div ng-show="vis">
      <div tractatus-graph></div>
      <div class='reader' ng-if="selectedNode != undefined">
          <h2>
              {{ selectedNode.key }}.
              <small class='lang'
                     ng-repeat="lang in getLanguages()"
                     ng-class="{'lang--selected': isSelectedLang(lang.key)}">
                     <span class="lang-value" ng-click="selectLang(lang.key)">{{ lang.value }}</span>
                  <span ng-if="!$last">&nbsp;-&nbsp;</span>
              </small>
          </h2>
          <p ng-bind-html="getContent()"></p>
      </div>
    </div>
</div>