<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tractatus Tree</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 id="title">Tractatus Tree</h1>
<p>My awesome site.</p>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>